* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  padding: 60px 0;
}

h1 {
  padding-bottom: 30px;
}

header nav {
  padding: 0 45px;
  background-color: #fff;
}

header nav .navbar-brand {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
}

.navbar .collapse {
  flex-grow: 0;
}

.navbar ul li a {
  padding: 15px 30px;
}

.banner {
  height: 80vh;
}

.banner img {
  height: 80vh;
  width: auto;
  object-fit: cover;
}

.banner .carousel-item {
  position: relative;
}

.banner .carousel-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  color: #ffffff;
  padding: 60px 40px;
  background-color: rgba(53, 86, 122, 0.548);
}

.about-text h1,
.services h1 {
  text-align: center;
}

.about-text .col-lg img {
  width: auto;
  height: 275px;
  object-fit: cover;
}

.services .col-lg {
  height: 350px;
  background-color: rgb(0, 0, 0);
}

.services .col-lg:nth-child(2) {
  margin: 0 60px;
}
